<h1>Welcome to Bloccit</h1>
<p>This is the home page for Bloccit.</p>

<ul class="thumbnails">
  <li class="span4"></li>
  <li class="span4"></li>
  <li class="span4"></li>
  <li class="span4"></li> 
</ul>d
